<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.robert.myapplication1">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".simpleworks.SdaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name=".simpleworks.MainActivity" />
        <activity android:name=".fragment.SecondActivity" />
        <activity android:name=".simpleworks.CameraActivity" />
        <activity android:name=".simpleworks.Scroll" />
        <activity android:name=".simpleworks.Constraint" />
        <activity android:name=".simpleworks.Linear" />
        <activity android:name=".simpleworks.Relative" />
        <activity
            android:name=".simpleworks.Snow"
            android:parentActivityName=".StartActivity" />
        <activity android:name=".simpleworks.Weather" />
        <activity android:name=".simpleworks.Call" />
        <activity android:name=".simpleworks.Call2" />
        <activity android:name=".simpleworks.WebViewActivity1" />
        <activity android:name=".simpleworks.WebViewActivity2" />
        <activity android:name=".simpleworks.EmailActivity" />
        <activity android:name=".simpleworks.LifeTimeActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ButterKnifeActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".fragment.FragmentDynamicActivity" />
        <activity android:name=".broadcast.BroadcastActivity" />
        <activity android:name=".broadcast.BroadcastBootAvtivity" />
        <activity android:name=".broadcast.BroadcastInAppActivity" />
        <activity android:name=".broadcast.BroadcastRegAppActivity" />
        <activity android:name=".simpleworks.NotificationActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".simpleworks.DownloadActivity" />
        <activity android:name=".simpleworks.ForegroundActivity" />
        <activity android:name=".BinderServiceActivity" />
        <activity android:name=".ButtonCounterActivity" />
        <activity android:name=".SensorListActivity" />
        <activity android:name=".SensorActivity2" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".PlaceViever1Activity" />
        <activity android:name=".PlaceViever2Activity" />
        <activity android:name=".placeviewer.PlaceViever3Activity" />
        <activity android:name=".placeviewer.PlaceViever4Activity" />
        <activity android:name=".simpleworks.RectangleDrawActivity" />
        <activity android:name=".simpleworks.LoginDialogActivity" />
        <activity android:name=".MyAsyncTaskActivity" />
        <activity android:name=".JobScheduler.ScheduleJobActivity" />
        <activity android:name=".RecyclerView.MyRecyclerViewActivity" />
        <activity android:name=".SpaceX.SpaceXActivity" />
        <activity android:name=".retrofit.RocketActivity"
            android:parentActivityName=".StartActivity"
            />
        <activity android:name=".retrofit.RocketStartsActivity" />
        <activity android:name=".simpleworks.InputLayoutActivity" />
        <activity android:name=".simplecasemvp.SimpleCaseMvpActivity" />
        <activity android:name=".simpleworks.PagesActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name="services.FirstIntentService" />
        <service android:name="services.SecondIntentService" />
        <service android:name="services.ForegroundService" />
        <service android:name="services.BinderService" />
        <service android:name=".JobScheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>


        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="fragments.AirplaneModeChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.MyBroadcastAppReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="SENDING" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.MyBroadcastReceiverOnBoot"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.MyBroadcastReceiverAfterTime"
            android:exported="true">
            <intent-filter>
                <action android:name="OPEN_AFTER_10_SECONDS" />
            </intent-filter>
        </receiver>


        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".simpleworks.MapsActivity"
            android:label="@string/title_activity_maps">
        </activity>

    </application>

</manifest>